<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <!-- ASMX(WebService)でJSONを返せるようにハンドラを変更する -->
      <remove verb="*" path="*.asmx"/>
      <add verb="*"
           path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory,
                 System.Web.Extensions,
                 Version=4.0.0.0,
                 Culture=neutral,
                 PublicKeyToken=31bf3856ad364e35"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- JavaScriptSerializerの設定 -->
        <!-- JSONのデータ最大長の制限を50MB(実質無制限)に, 
             JavaScriptSerializerFactoryでも個々のインスタンスの最大長として設定する -->
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
